[submodule "autosink-model-evaluation"]
	path = autosink-model-evaluation
	url = https://github.com/slink-to-unlock/autosink-model-evaluation.git
	branch = main
[submodule "autosink-model-validation"]
	path = autosink-model-validation
	url = https://github.com/slink-to-unlock/autosink-model-validation.git
	branch = main
[submodule "autosink-model-training"]
	path = autosink-model-training
	url = https://github.com/slink-to-unlock/autosink-model-training.git
	branch = main
[submodule "autosink-data-preparation"]
	path = autosink-data-preparation
	url = https://github.com/slink-to-unlock/autosink-data-preparation.git
	branch = main
[submodule "autosink-data-validation"]
	path = autosink-data-validation
	url = https://github.com/slink-to-unlock/autosink-data-validation.git
	branch = main
[submodule "autosink-data-elt"]
	path = autosink-data-elt
	url = https://github.com/slink-to-unlock/autosink-data-elt.git
[submodule "sparse-to-dense"]
	path = sparse-to-dense
	url = https://github.com/slink-to-unlock/sparse-to-dense.git
